{% load thumbnail %}
{% load poll_extras %}

<h2> نظرات ({{  comments_count }})</h2>
						<ul class="media-list">
							{% for comment in comments %}
                                <li class="media">

								<a class="pull-right" href="#">
									{% thumbnail comment.user.avatar "121x86" crop='center' as im %}
                                         <img class="media_object" src="{{ im.url }}">

                                     {% endthumbnail %}
								</a>

								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>  {{ comment.create_date | time}}</li>
										<li><i class="fa fa-calendar"></i>{{ comment.create_date | date_jalali }}</li>
									</ul>
									<p>
                                        {{ comment.text }}
                                    </p>
                                        <a class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>

                                {% for sun_comment in comment.articlecomment_set.all %}
                                    <li class="media second-media">
								<a class="pull-right" href="#">
									{% thumbnail sun_comment.user.avatar "121x86" crop='center' as im %}
                                         <img class="media_object" src="{{ im.url }}">

                                     {% endthumbnail %}
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>  {{ sun_comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>  {{ sun_comment.create_date | time }}</li>
										<li><i class="fa fa-calendar"></i>{{ sun_comment.create_date | date_jalali }}</li>
									</ul>
                                    <p>
                                        {{ sun_comment.text }}
                                    </p>
								</div>
							</li>
                                {% endfor %}


							{% endfor %}


                            <br>

						</ul>