{% load thumbnail %}
{% load poll_extras %}
<div class="col-sm-{{ col_size }} ">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
                                        {% thumbnail product.image "268x250" crop='center' as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
										<h2>{{ product.price | three_digits_currency }} ريال</h2>
										<p>{{ product.short_description }}</p>
										<a href="{% url 'product_detail' slug=product.slug%}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>{{ product.price }} ريال</h2>
											<p>{{ product.short_description }}</p>
											<a href="{% url 'product_detail' slug=product.slug%}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="{% url 'product_detail' slug=product.slug %}"><i class="fa fa-plus-square"></i>مشاهده</a></li>
									</ul>
								</div>
							</div>
</div>