{% extends 'layout/base/base.html' %}
{% load render_partial %}
{% block title %}
    password change
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'shop_admin_user.views.admin_user_panel_component' %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'change_password_profile_page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">change password</button>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}