{% extends 'layout/base/base.html' %}
{% load render_partial %}

{% block title %}
    editing user profile
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if current_user.avatar %}
                    <img style="width: 100%" src="{{ current_user.avatar.url }}" alt="">
                {% endif %}

                {% render_partial 'shop_admin_user.views.admin_user_panel_component' %}
            </div>
            <div class="col-md-8">
                <form enctype="multipart/form-data" action="{% url 'edit_profile_page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">edit profile</button>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}