{% for category in categories %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a  href="{% url 'product_category_page' cat=category.url_title %}">
                
               {{ category.title }}
            </a>
        </h4>
    </div>
</div>
{% endfor %}
