
{% for brand in brands %}
<ul class="nav nav-pills nav-stacked">
    <li><a href="{% url 'product_brand_page'  brand=brand.url_title %}"> <span class="pull-left">({{ brand.product_count }})</span>{{ brand.title }}</a></li>
</ul>   
{% endfor %}