{% extends 'layout/base/base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block body %}
     <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ورود به حساب کاربری</h2>
                        <form action="#" method="post">
                            {% csrf_token %}
							{{ login_form }}
                            <a href="/account/forgot-password">forgot password</a>
							<button type="submit" class="btn btn-default">ورود</button>
						</form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}