{% extends 'layout/base/base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block body %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ثبت نام کاربـر جدیـد</h2>
                        <form action="#" method="post">
                            {% csrf_token %}
{#							{{ register_form }}#}

                            {{ register_form.user_name.label_tag }}
                            {{ register_form.user_name }}
                            {{ register_form.email.label_tag }}
                            {{ register_form.email }}
                            {{ register_form.password.label_tag }}
                            {{ register_form.password }}
                            {{ register_form.confirm_pass.label_tag }}
                            {{ register_form.confirm_pass }}
                            {{ register_form.confirm_pass.errors }}
                            {{ register_form.password.errors }}
                            {{ register_form.email.errors }}
                            {{ register_form.user_name.errors }}


                            <button type="submit">register</button>
						</form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}