{% extends 'layout/base/base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block body %}
     <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ورود به حساب کاربری</h2>
                        <form action="{% url 'reset_password_page' active_code=user.email_active_code %}" method="post">
                            {% csrf_token %}
							{{ reset_pass }}
							<button type="submit" class="btn btn-default">reset</button>
						</form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}