{% extends 'layout/base/base.html' %}
{% load static %}
{% load poll_extras %}
{% load thumbnail %}
{% load render_partial %}




{% block header_refrences %}
    <link href="{% static 'lib/image_lightbox/css/lightbox.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}
    <section>
		<div class="container">
			<div class="row">


				    <div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
                                {% thumbnail product.image "330x380" crop='center' as im %}
                                    <img src="{{ im.url }}" id="main_image">
                                {% endthumbnail %}
                                <a id="show_larg_image" href="{{ product.image.url }}" data-lightbox="product_image">
                                    <h3>بزرگنمایـی</h3>
                                </a>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">


										{% for group in product_galleries_group %}
                                            <div class="item {% if forloop.first %}active{% endif %} ">
										        {% for gallery in group %}
                                                    <a onclick="showLargeImage('{{ gallery.image.url }}')" >
                                                        <img src="{{ gallery.image.url }}" width="75" height="70" alt="" id="main_image">
                                                    </a>
										        {% endfor %}

                                            </div>
										{% endfor %}


									</div>

								  <!-- Controls -->
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="" />
								<div>
									<h2>{{ product.title }}</h2>
									<p>شناسـه : {{ product.id }}</p>
								</div>
								<div>
									<span>
										<span>قیمت : {{ product.price |three_digits_currency }} </span>
									</span>
									<span>
										<label>تعداد :</label>
										<input type="number" min="1"  value="1"
                                               class="search_box" id="product-count"/>
										<button onclick="addProductToOrder({{ product.id }})" type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افـزودن به سبـد خریـد
										</button>
									</span>
								</div>
								<div>
									<p><b>موجـودی :</b> در انبـار موجود می باشد</p>

									<p><b>برنـد :</b> برنـد </p>
								</div>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">جزئیات</a></li>
								<li><a href="#reviews" data-toggle="tab">نظرات (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-md-12">
                                    {{ product.description | safe }}
                                </div>
							</div>

							<div class="tab-pane fade" id="companyprofile" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="tag" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery.jpg" alt="" />
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>مشتـری 1</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 ب . ظ</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>29 تیـر 1397</a></li>
									</ul>
									<p>{{ product.description }}</p>
									<p><b>نظـر خود را بنویسیـد</b></p>

									<form action="#">
										<span>
											<input type="text" placeholder="نام و نام خانوادگـی"/>
											<input type="email" placeholder="آدرس ایمیـل"/>
										</span>
										<textarea name="" ></textarea>
										<b>رتبـه : </b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-left">
											ارسـال
										</button>
									</form>
								</div>
							</div>

						</div>
					</div><!--/category-tab-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">محصولات پیشنهادی</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for group in related_products %}
                                    <div class="item {% if forloop.first%}active{% endif %} ">
									{% for product in group %}
                                        <div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ product.image.url }}" alt="" />
													<h2> {{ product.price| three_digits_currency }}</h2>
													<p>{{ product.title }}</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
												</div>
											</div>
										</div>
									</div>

									{% endfor %}


								</div>

								{% endfor %}
                            </div>
							{% if related_products|length > 1 %}

							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
                            {% endif %}
					</div><!--/recommended_items-->
                    </div>
				</div>




				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>دسته بندی محصولات</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% render_partial 'shop_product.views.product_category_component' %}


						</div><!--/category-productsr-->

						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								{% render_partial 'shop_product.views.product_brand_component' %}
							</div>
						</div><!--/brands_products-->


						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
	
{% block footer_refrences %}
    <script src="{% static 'lib/image_lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/image_lightbox/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}