{% extends 'layout/base/base.html' %}
{% load static %}
{% load poll_extras %}
{% load render_partial %}
{% load thumbnail %}
{% block title %}
    shop
{% endblock %}

{% block body %}

<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">
                    {% if products %}
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">محصولات</h2>
                        {% for product in products %}
                            {% include 'include/product_box.html' with product=product col_size=4 %}
                        {% endfor %}
                        <div class="clearfix"></div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class=""><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                            {% endif %}

                            {% for pageNumber in paginator.page_range %}
                                <li class=" {% if page_obj.number == pageNumber %}
                                active
                                {% endif %}   "><a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                            {% endfor %}

                        {% if page_obj.has_next %}
                                <li class=""><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                            {% endif %}

						</ul>
					</div><!--features_items-->
                    {% else %}
                    <div class="alert alert-warning">
                            <p>هیچ محصولی یافت نشد</p>
                    </div>
                    {% endif %}
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>دسته بندی محصولات</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% render_partial 'shop_product.views.product_category_component' %}


						</div><!--/category-productsr-->

						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								{% render_partial 'shop_product.views.product_brand_component' %}
							</div>
						</div><!--/brands_products-->

						<div class="price-range"><!--price-range-->
							<h2>فیلتـر قیمـت</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="{{ db_max_price }}" data-slider-step="1000" data-slider-value="[{{ start_price }} ,  {{ end_price }}]" id="sl2" ><br />
								 <b>{{ db_max_price }}</b> <b class="pull-left">0 ريال</b>
							</div>
						</div><!--/price-range-->

						<div class="shipping text-center"><!--shipping-->
							{% for banner in banners %}
								<img src="{{ banner.image.url }}" alt="" />
							{% endfor %}
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}
