{% extends 'layout/base/base.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}
    Home Page
{% endblock %}

{% block body %}

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
{#						<ol class="carousel-indicators">#}
{#							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>#}
{#							<li data-target="#slider-carousel" data-slide-to="1"></li>#}
{#						</ol>#}


						<div class="carousel-inner">
                        {% for slider in sliders %}

                                <div class="item {% if forloop.first %}active {% endif %}">
								<div class="col-sm-6">
									<h2>{{ slider.slider_name }}</h2>
									<p>{{ slider.slider_description }} </p>
                                    <a href="{{ slider.slider_url }}" class="btn btn-default get">{{ slider.slider_url_title }}</a>
								</div>
								<div class="col-sm-6">
									<img src="{{ slider.slider_image.url }}" class="girl img-responsive" width="500" alt="" />
								</div>
							</div>
                        {% endfor %}


						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">

				<div class="recommended_items"><!--NewProduct_items-->
						<h2 class="title text-center">جدیدترین محصولات</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for group in newest_products %}
								<div class="item {% if forloop.first %}active{% endif %}">
									{% for product in group %}
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ product.image.url }}" alt="" />
													<h2>{{product.price | three_digits_currency}} R</h2>
													<p> {{ product.title }}</p>
													<a href="{% url 'product_detail' slug=product.slug%}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
												</div>

											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								
								{% endfor %}
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/NewProduct_items-->

				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--RetailSale_items-->
						<a href="shop-2.html"><h2 class="title text-center"> بیشترین بازدید</h2></a>
						<div id="new-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
						{% for group in most_visit_products %}
						<div class="item {% if forloop.first %}active{% endif %}">
							{% for product in group %}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ product.image.url }}" alt="" />
												<h2>{{ product.price | three_digits_currency }}</h2>
												<p>{{ product.title }}</p>
												<a href="{% url 'product_detail' slug=product.slug%}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="{% url 'product_detail' slug=product.slug%}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
											</div>
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li>
												<a href="#">
													<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
												</a>
											</li>
											<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
							<a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
					</div>
					</div><!--RetailSale_items-->



					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								{% for categories_product in categories_products %}
								    <li class="{% if forloop.first %}active{% endif %} "><a href="#Tab_{{ categories_product.id }}" data-toggle="tab">{{ categories_product.title }}</a></li>
								{% endfor %}
								
							</ul>
						</div>
						<div class="tab-content">
							{% for categories_product in categories_products %}
                                <div class="tab-pane fade {% if forloop.first %}active in{% endif %} " id="Tab_{{ categories_product.id }}" >
								{% for product in categories_product.product %}
                                    <div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ product.image.url }}" alt="" />
												<h2> {{ product.price | three_digits_currency }}</h2>
												<p>{{ product.title }}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
											</div>

										</div>
									</div>
								</div>
								{% endfor %}

							</div>
							{% endfor %}


						</div>
					</div><!--/category-tab-->

				</div>

			</div>
		</div>
	</section>

{% endblock %}