{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% include 'layout/_header_refernces.html' %}
    {% block header_refrences %}{% endblock %}
</head><!--/head-->

<body>

{% render_partial 'shop_base.views.site_header_component' %}

    {% block body %}

    {% endblock %}

{% render_partial 'shop_base.views.site_footer_component' %}
	
{% include 'layout/_footer_refernces.html' %}
{% block footer_refrences %}{% endblock %}
</body>
</html>