

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'user_panel_page' %}">user panel</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'edit_profile_page' %}">editing information</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'change_password_profile_page' %}">change password</a>

        </li>
    </ul>