<div dir="rtl">
    <h2>بازیابی کلمه ی عبور</h2>
    <hr>
    <p>کاربر گرامی ، جهت فعالسازی بازیابی کلمه ی عبور  خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="http://localhost:8000{% url 'reset_password_page' active_code=user.email_active_code %}">فعالسازی
            حساب کاربری</a>
    </p>
</div>