{% extends 'layout/base/base.html' %}
{% load static %}

{% block title %}
    Contact Us
{% endblock %}

{% block body %}
    <div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">
				<div class="container">
	    			<div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">
						<h2 class="title text-center">تمـاس با مـا</h2>    			    						<div id="gmap" class="contact-map">
								<img src="{% static 'images/home/Map.jpg' %}" alt="Map"/>
							</div>
					</div>
				</div>
				</div>
    		<div class="row">
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">با ما در ارتباط باشیـد</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	{% if request.user.is_authenticated %}
                            <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">

                                {% csrf_token %}
				                {{ contact_form }}
                                <br>
                                <button type="submit" class="btn btn-success">send message</button>


				        </form>
                            <br>
                            {% else %}
                            <h1>pls first login</h1>
                            <a href="{% url 'login_page' %}">Login </a>

				    	{% endif %}
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">اطلاعات تماس</h2>
	    				<address>
	    					<p>{{ site_setting.site_name }}</p>
							<p>{{ site_setting.address }}</p>
							<p>تلفن تماس : {{ site_setting.phone }}</p>
							{% if site_setting.fax %}
							    <p>فکس : {{ site_setting.fax }}</p>
							{% endif %}
							{% if site_setting.email %}
							    <p style="font-family: tahoma;">ایمیـل : {{ site_setting.email }}</p>
							{% endif %}
	    				</address>

	    			</div>
    			</div>
	    	</div>
    	</div>
    </div><!--/#contact-page-->
{% endblock %}
	
