{% extends 'layout/base/base.html ' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}



{% block title %}
     Article
{% endblock %}

{% block body %}
    <section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن اخبـار</h2>
						{% for article in page_obj %}
                            <div class="single-blog-post">
							<h3>{{ article.title  }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i>{{ article.author }}</li>
									<li><i class="fa fa-clock-o"></i>{{ article.add_time | date_jalali  }}</li>
									<li><i class="fa fa-calendar"></i> 28 تیـر 1397</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
                                {% thumbnail article.image "862x398" crop='center' as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}

                                <p>
                                    <br>
                                    {{ article.short_description }}
                                </p>
							<a class="btn btn-primary" href="{% url 'article_detail_page' pk=article.id %}">ادامـه مطلب</a>
						</div>

						{% endfor %}



                        <ul class="pagination">
                            <br>
                            {% if page_obj.has_previous %}
                                <li class=""><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                            {% endif %}

                            {% for pageNumber in paginator.page_range %}
                                <li class=" {% if page_obj.number == pageNumber %}
                                active
                                {% endif %}   "><a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                            {% endfor %}

                        {% if page_obj.has_next %}
                                <li class=""><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                            {% endif %}
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'shop_article.views.category_article'  %}
						
						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/home/shipping.jpg" alt="">
						</div><!--/shipping-->
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}