{% extends 'layout/base/base.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load thumbnail %}
{% block title %}

{% endblock %}

{% block body %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">{{ object.title }}</h2>
						<div class="single-blog-post">
							<h3>{{ object.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i>{{ object.author }}</li>
									<li><i class="fa fa-clock-o"></i>{{ object.add_time | time_jalali }}</li>
									<li><i class="fa fa-calendar"></i>{{ article.add_time | date_jalali }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>

								 <div>
                                     {% thumbnail article.image "862x398" crop='center' as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                 </div>
                            <br>
							{{ object.description }}
							<div class="pager-area">
								<ul class="pager pull-left">
									<li><a href="#">قبلی</a></li>
									<li><a href="#">بعـدی</a></li>
								</ul>
							</div>
						</div>
					</div><!--/blog-post-area-->

					<div class="rating-area">
						<ul class="ratings">
							<li class="rate-this">به این مطلب امتیـاز دهیـد :</li>
							<li>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
							<li class="color">( 6 نظـر )</li>
						</ul>
						<ul class="tag">
							<li>برچسب :</li>
							<li><a class="color" href="">برچسب 1 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 2 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 3</a></li>
						</ul>
					</div><!--/rating-area-->

					<div class="socials-share">
						<a href=""><img src="/static/images/blog/socials.png" alt=""></a>
					</div><!--/socials-share-->

					<div class="media commnets">
                        <div>
                            {% thumbnail object.author.avatar "121x86" crop='center' as im %}
                                <img class="media_object" src="{{ im.url }}">

                            {% endthumbnail %}

                        </div>
                    <br>
						<div class="media-body">
							<h4 class="media-heading">{{ object.author.username }}</h4>
                            <p>
                                {{ object.author.about_user }}
                            </p>
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">سایـر مطالب نویسنده</a>
							</div>
						</div>
					</div><!--Comments-->
					<div class="response-area" id="comments_area">
						<h2> نظرات ({{  comments.count }})</h2>
						<ul class="media-list">
							{% for comment in comments %}
                                <li class="media">

								<a class="pull-right" href="#">
									{% thumbnail comment.user.avatar "121x86" crop='center' as im %}
                                         <img class="media_object" src="{{ im.url }}">

                                     {% endthumbnail %}
								</a>

								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>  {{ comment.create_date | time}}</li>
										<li><i class="fa fa-calendar"></i>{{ comment.create_date | date_jalali }}</li>
									</ul>
									<p>
                                        {{ comment.text }}
                                    </p>
                                        <a class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>

                                {% for sun_comment in comment.articlecomment_set.all %}
                                    <li class="media second-media">
								<a class="pull-right" href="#">
									{% thumbnail sun_comment.user.avatar "121x86" crop='center' as im %}
                                         <img class="media_object" src="{{ im.url }}">

                                     {% endthumbnail %}
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>  {{ sun_comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>  {{ sun_comment.create_date | time }}</li>
										<li><i class="fa fa-calendar"></i>{{ sun_comment.create_date | date_jalali }}</li>
									</ul>
                                    <p>
                                        {{ sun_comment.text }}
                                    </p>
								</div>
							</li>
                                {% endfor %}


							{% endfor %}


                            <br>

						</ul>
					</div><!--/Response-area-->

                        <div class="replay-box" id="comment_form">
                            {% if request.user.is_authenticated %}
						<div class="row">

							<div class="col-sm-12">
                                <h2>نظـر خود را بنویسیـد</h2>
								<div class="text-area"  >
                                    <input type="hidden"  id="parent_id" value="">
									<div class="blank-arrow">
										<label>متن پیام</label>
									</div>
									<span>*</span>
									<textarea name="message" rows="11" id="commentText"></textarea>
									<a class="btn btn-primary" onclick="sendArticleComment({{ article.id }})">ارسـال نظـر</a>
								</div>
							</div>
						</div>
                            {% else %}
                        <div class="alert alert-warning">
                            for send message should be <a href="{% url 'login_page' %}">login</a> .
                            {% endif %}
					</div><!--/Repaly Box-->


                 <br>
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">

                            {% render_partial 'shop_article.views.category_article' %}




					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}